@page "/todo"
@inject IJSRuntime JS


<h1>Welcome ToDo page - here we will consume the new API</h1>

<p role="status">Current count: @count</p>
<button class="btn btn-primary" @onclick="AddToDo">Click me</button>
<button class="btn btn-primary" @onclick="InvokeJavaScript">Invoke JavaScript</button>

@code {
    private int count = 0;

    private void AddToDo()
    {
        count++;
    }
    private async void InvokeJavaScript()
    {
        await JS.InvokeVoidAsync("DeleteCache");
        await JS.InvokeVoidAsync("HelloAlert");
    }
}
